[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Hide/Block files in filesystem
[access "refs/*"]
	owner = group user/swapnili
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/swapnili
	label-Verified = -1..+1 group user/swapnili
	push = group user/swapnili
	read = group user/swapnili
	rebase = group user/swapnili
	removeReviewer = group user/swapnili
	submit = group user/swapnili
[access "refs/heads/*"]
	create = group user/swapnili
	push = +force group user/swapnili
	pushMerge = group user/swapnili
	read = group user/swapnili
[access "refs/tags/*"]
	push = group user/swapnili
	push = +force group user/swapnili
